.about {

	h2 {
		font-family: $font-family-heading;
		color: $header-color;
		font-size: 2rem;
		margin-bottom: 15px;
	}

	p {
		font-size: 1rem;
		color: $text-color;
		margin: 0 0 1rem 0;
		background-color: $secondary-color;
		padding: 1rem;
		border-radius: 8px;
	}
}
