.card {
	display: flex;
	flex-direction: column;
	border: 2px solid $primary-color;
	border-radius: 8px;
	background-color: $background-color;
	color: $text-color;

	img {
		width: 100%;
		height: auto;
		border-radius: 4px;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 5px;
		margin: 10px 7px;

		@include respond-to("medium") {
			margin: 20px;
		}

		h4 {
			font-family: $font-family-subheading;
			font-size: 1.1rem;
			font-weight: 700;
			font-style: normal;
			margin: 0 0 5px;
			line-height: 1.25rem;

			@include respond-to("medium") {
				font-size: 1.3rem;
				line-height: 1.5rem;
			}
		}

		p {
			margin: 0;
		}

		.price {
			font-size: 1rem;
			font-weight: 600;

			@include respond-to("medium") {
				font-size: 1.2rem;
			}
		}

		.description {
			font-size: 0.9rem;

			@include respond-to("medium") {
				font-size: 1rem;
			}
		}
	}
}
