.card {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	background-color: $white-color;
	color: $text-color;
	overflow: hidden;
	padding: 0;
	border: 0;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	font-family: $font-family-base;

	.content {
		display: flex;
		flex-direction: column;
		gap: 5px;
		margin: 7px;

		@include respond-to("medium") {
			margin: 15px;
		}

		h4 {
			font-family: $font-family-subheading;
			font-size: 1.1rem;
			font-weight: 700;
			margin: 0;
			line-height: 1.25rem;

			@include respond-to("medium") {
				font-size: 1.15rem;
				line-height: 1.25rem;
			}
		}
	}

	.imageContainer {
		position: relative;

		img {
			display: block;
			width: 100%;
			height: auto;
			border-bottom: 2px solid $primary-color;
		}

		.features {
			list-style: none;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			gap: 6px;
			padding: 0;
			align-items: center;
			justify-content: flex-start;
			position: absolute;
			bottom: 6px;
			left: 5px;

			li {
				font-size: 0.8rem;
				background-color: $accent-color;
				color: $text-color;
				padding: 2px 6px;
				border-radius: 4px;
				text-transform: lowercase;
				font-weight: 500;

				@include respond-to("medium") {
					font-weight: 600;
				}

				@include respond-to("large") {
					font-size: 0.9rem;
					font-weight: 500;
				}
			}
		}

		.price {
			position: absolute;
			top: 8px;
			right: 8px;
			font-size: 0.8rem;
			border-radius: 8px;
			background-color: $primary-color;
			color: $black-color;
			padding: 4px 6px;
			text-align: center;
			font-weight: 500;

			@include respond-to("large") {
				font-size: 0.9rem;
			}
		}
	}
}
