.card {
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	background-color: $secondary-color;
	color: $text-color;
	overflow: hidden;
	padding: 0;
	border: 0;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

	img {
		width: 100%;
		height: auto;
		border-bottom: 2px solid $primary-color;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 5px;
		margin: 10px 7px;

		@include respond-to("medium") {
			margin: 15px;
		}

		h4 {
			font-family: $font-family-subheading;
			font-size: 1.1rem;
			font-weight: 700;
			margin: 0 0 5px;
			line-height: 1.25rem;

			@include respond-to("medium") {
				font-size: 1.2rem;
				line-height: 1.5rem;
			}

			@include respond-to("large") {
				font-size: 1.15rem;
				line-height: 1.25rem;
			}
		}

		.price {
			font-size: 0.9rem;
			font-weight: 600;
			border-radius: 8px;
			margin: 0;

			@include respond-to("medium") {
				font-size: 1rem;
			}

			@include respond-to("large") {
				font-size: 0.9rem;
			}
		}

		.description {
			font-size: 0.9rem;
			margin: 0;
		}
	}

	.features {
		list-style: none;
		margin: 0 0 10px;
		display: flex;
		flex-wrap: wrap;
		gap: 6px;
		padding: 0 5px;
		align-items: flex-end;
		justify-content: center;
		position: absolute;
		top: 10px;
		right: 5px;

		li {
			font-size: 0.8rem;
			background-color: $accent-color;
			color: $text-color;
			padding: 2px 6px;
			border-radius: 4px;
			text-transform: lowercase;

			@include respond-to("medium") {
				font-size: 0.9rem;
			}

			@include respond-to("large") {
				font-size: 0.9rem;
			}
		}
	}
}
