/* @import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Delius+Swash+Caps&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Twinkle+Star&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

/* Line height variables */
$base-line-height: 1.5;
$heading-line-height: 1.2;

$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-heading: 'Delius Swash Caps', cursive;
$font-family-heading: 'Twinkle Star', cursive;
$font-family-subheading: 'Bellota', system-ui, sans-serif;
// $font-family-subheading: 'Winky Sans', sans-serif;
// $font-family-heading: 'Overlock', sans-serif;
// $font-family-heading: 'Bellota', system-ui, sans-serif;
