/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Quicksand:wght@300..700&family=Twinkle+Star&display=swap');

/* Line height variables */
$base-line-height: 1.5;
$heading-line-height: 1.2;

$font-family-base: 'Quicksand', Helvetica, Arial, sans-serif;
$font-family-heading: 'Twinkle Star', cursive;
$font-family-subheading: 'Bellota', system-ui, sans-serif;
