/* Variables */

/* Color variables */
$primary-color: #ece6c7;
$secondary-color: #82b3eb;
$background-color: #cca6a6;
$text-color: #1e1e1e;

/* Line height variables */
$base-line-height: 1.5;
$heading-line-height: 1.2;