/* Variables */

/* Color variables */
$primary-color: #F8B5B9;
$secondary-color: #FDF0D5;
$background-color: #FDEDEE;
$accent-color: #D3D0F1;
$text-color: #343434;
$header-color: #A64E54;
$white-color: #FFFFFF;
$black-color: #000000;
