*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $text-color;
  min-height: 100vh;
}

body {
  margin: 0;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  line-height: $heading-line-height;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}