*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: $background-color;
	color: $text-color;
	min-height: 100vh;
}

body {
	margin: 0;
	line-height: $base-line-height;
	font-family: $font-family-base;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
	line-height: $heading-line-height;
	margin: 0;
}

.pageHeader {
	font-family: $font-family-heading;
	color: $header-color;
	font-size: 2.25rem;
	margin: 1rem 0;

	@include respond-to("medium") {
		font-size: 2.5rem;
	}
}

.textBox {
	@include textBox;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

/* Icon font settings */
.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
