.contact {

	display: flex;
	flex-direction: column;
	gap: 1rem;

	h2 {
		font-family: $font-family-heading;
		color: $header-color;
		font-size: 2rem;

		@include respond-to("medium") {
			font-size: 2.5rem;
			margin-bottom: 0.5rem;
		}
	}

	h3 {
		font-family: $font-family-subheading;
		color: $header-color;
		font-size: 1.5rem;
		font-weight: 700;

		@include respond-to("medium") {
			margin-bottom: 0.25rem;
		}
	}

	p {
		font-size: 1rem;
		color: $text-color;
		margin: 0 0 1rem 0;
		background-color: $secondary-color;
		padding: 1rem;
		border-radius: 8px;
	}

	span {
		display: block;
		margin: 2px 0;
	}
}
