.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	h3 {
		font-family: $font-family-subheading;
		color: $header-color;
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 0.5rem;
	}

	p {
		font-size: 1rem;
		color: $text-color;
		margin: 0;
		background-color: $white-color;
		padding: 1rem;
		border-radius: 8px;
		border: 1px solid $primary-color;
	}

	span {
		display: block;
		margin: 2px 0;
	}

	.openingHours {
		width: fit-content;

		p {
			background-color: inherit;
			border: none;
			padding: 0 15px;

			@include respond-to("medium") {
				@include textBox;
			}
		}
	}
}
