.home {
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;

	h2 {
		font-family: $font-family-heading;
		font-size: 2rem;
		color: $header-color;
		margin: 0;

		@include respond-to("medium") {
			font-size: 2.5rem;
		}
	}

	p {
		font-size: 1.2rem;
		color: $text-color;
		margin: 0 0 1rem 0;
		background-color: $secondary-color;
		padding: 1rem;
		border-radius: 8px;
	}
}
