.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainContent {
    flex: 1;
    padding: 1rem;

    @include respond-to("medium") {
        padding: 3rem 4rem;
    }
}
