.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(180, 138, 138, 0.5);
	z-index: 999;
}

.productModule {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $white-color;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 80%;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	z-index: 1000;
	font-family: $font-family-base;

	@include respond-to("medium") {
		flex-direction: row;
	}

	@include respond-to("large") {
		width: 60%;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 8px;
		padding: 20px 0;

		.features {
			list-style: none;
			padding: 0;
			margin: 10px 0 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			gap: 6px;

			li {
				font-size: 0.8rem;
				background-color: $accent-color;
				color: $text-color;
				padding: 3px 8px;
				border-radius: 4px;
				text-transform: lowercase;
			}

			@include respond-to("medium") {
				padding: 0 10px;
			}

			@include respond-to("large") {
				li {
					font-size: 0.9rem;
					padding: 4px 10px;
				}
			}
		}

		.topContent {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 5px;

			@include respond-to("medium") {
				gap: 12px;
				margin-top: 2rem;
				padding: 0 10px;
			}

			@include respond-to("large") {
				margin-top: 4rem;
			}

			h4 {
				font-family: $font-family-subheading;
				font-size: 1.4rem;
				font-weight: 700;

				@include respond-to("medium") {
					font-size: 1.75rem;
				}
			}

			p {
				margin: 0;
			}

			.description {
				font-size: 0.9rem;
				line-height: 1.2rem;
				color: $text-color;
				padding: 0 5px;

				@include respond-to("medium") {
					font-size: 1rem;
				}
			}

			.priceStock {
				display: flex;
				justify-content: center;
				gap: 8px;

				@include respond-to("medium") {
					flex-direction: column;
					gap: 0;
					border-radius: 8px;
					border: 2px solid $primary-color;
					background-color: $background-color;
					padding: 5px 10px;
				}

				.price {
					font-size: 0.9rem;
					font-weight: 600;
					padding-right: 8px;
					border-right: 1px solid $text-color;

					@include respond-to("medium") {
						border-right: none;
					}
				}

				.stock {
					font-size: 0.9rem;
					font-weight: 600;
				}
			}
		}
	}

	.imageContainer {
		width: 100%;
		height: auto;

		img {
			width: 100%;
			height: auto;
			display: block;
			border-bottom: 1px solid $primary-color;

			@include respond-to("medium") {
				border-bottom: none;
				border-right: 1px solid $primary-color;
				height: 100%;
				max-height: 700px;
				object-fit: cover;
			}
		}

		.category {
			position: absolute;
			top: 10px;
			left: 10px;
			font-size: 0.9rem;
			background-color: $primary-color;
			color: $text-color;
			padding: 5px;
			border-radius: 4px;
			border: none;
		}

		.closeButton {
			position: absolute;
			top: 10px;
			right: 10px;
			background: none;
			border: none;
			border-radius: 8px;
			font-size: 1.5rem;
			cursor: pointer;
			color: $white-color;
			background-color: $header-color;
			padding: 2px;
			height: 28px;

			&:hover {
				color: $header-color;
				background-color: $background-color;
			}

			span {
				font-size: 1.5rem;
			}
		}
	}
}
