.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(180, 138, 138, 0.5);
	z-index: 999;
}

.productModule {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $secondary-color;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 80%;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	z-index: 1000;

	@include respond-to("medium") {
		flex-direction: row;
	}

	@include respond-to("large") {
		width: 60%;
		top: 55%;
	}

	.imageContainer {
		width: 100%;
		height: auto;

		img {
			width: 100%;
			height: auto;
			display: block;
		}

		.closeButton {
			position: absolute;
			top: 10px;
			right: 10px;
			background: none;
			border: none;
			border-radius: 8px;
			font-size: 1.5rem;
			cursor: pointer;
			color: $text-color;
			padding: 2px;
			height: 28px;

			&:hover {
				color: $header-color;
				background-color: $background-color;
			}

			span {
				font-size: 1.5rem;
			}
		}
	}
}
