.header {
	background-color: $background-color;
	border-bottom: 2px solid $primary-color;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: relative;

	@include respond-to("medium") {
		flex-direction: row;
		align-items: center;
	}

	.topRow {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	.branding {
		display: flex;
		align-items: center;
		gap: 10px;

		img {
			background-color: $white-color;
			padding: 5px;
			width: 50px;
			// width: 125px;
			height: auto;
			border-radius: 50%;
		}

		.logo {
			font-family: $font-family-heading;
			font-size: 2rem;
			color: $black-color;
			margin: 0;
		}
	}
}
