.header {
	background-color: $secondary-color;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	.branding {
		display: flex;
		align-items: center;
		gap: 10px;

		img {
			background-color: $white-color;
			padding: 5px;
			width: 50px;
			// width: 125px;
			height: auto;
			border-radius: 50%;
		}

		.logo {
			font-family: $font-family-heading;
			font-size: 2rem;
			color: $black-color;
			margin: 0;
		}
	}
}
