.productGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	margin: 20px 0;

	@include respond-to("medium") {
		grid-template-columns: repeat(3, 1fr);
	}

	@include respond-to("large") {
		grid-template-columns: repeat(4, 1fr);
	}
}
