.footer {
	padding: 1rem 2rem;
	text-align: center;

	ul {
		list-style: none;
		padding: 0;
		margin: 10px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.25rem;

		li {
			font-weight: 600;
			font-size: 0.9rem;
			cursor: pointer;
		}
	}

	h4 {
		font-size: 1rem;
		margin: 1rem 0 0.5rem;
	}

	.creditsHeader {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		h3 {
			margin: 0;
			font-size: 1rem;
			color: $header-color;
		}

		button {
			background-color: $primary-color;
			color: $black-color;
			border: none;
			border-radius: 4px;
			padding: 0.25rem 0.5rem;
			font-size: 0.8rem;
			font-weight: 500;
			letter-spacing: 0.05rem;
			cursor: pointer;
		}
	}
}
