.hero {
	padding: 2rem;
	text-align: center;

	h2 {
		font-family: $font-family-heading;
		color: $header-color;
		font-size: 2.5rem;
		margin-bottom: 1rem;
	}

	ul {
		list-style-type: none;
		padding: 0;

		li {
			font-size: 1.2rem;
			margin: 0.5rem 0;
		}
	}
}

