.categories {

	margin-bottom: 2rem;

	h3 {
		font-family: $font-family-subheading;
		font-size: 2rem;
		color: $header-color;
		margin-bottom: 1rem;
	}
	.categoryButtons {

		display: flex;
		justify-content: center;

		button {
			background-color: $primary-color;
			color: $black-color;
			border: none;
			border-radius: 4px;
			padding: 0.5rem 1rem;
			margin: 0.25rem;
			font-family: $font-family-subheading;
			font-size: 1rem;
			font-weight: 700;
			letter-spacing: 0.05rem;
			cursor: pointer;
		}
	}
}

.hero {
	text-align: center;

	h2 {
		font-family: $font-family-heading;
		color: $header-color;
		font-size: 2.5rem;
		margin: 0 0 1rem;
	}

	p {
		font-family: $font-family-base;
		font-size: 1.1rem;
		color: $text-color;
		margin: 0 1rem;
	}
}
